*~
*.o
*.glob
\#*\#
.\#*
.*.aux
.*.swp
lia.cache
/bin/
enc
tuples
prog.json
prog.txt
.cache-main
/.DS_Store
target/
/build/
/.gradle/
*.dSYM
.swp
.*.swp


node_modules


# User-specific stuff:
.idea/

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/
