
svg.egraph g.node:hover > ellipse,
svg.egraph g.node:hover > polygon {
    fill: #eee;
}
svg.egraph g.node > text {
    cursor: default;
}

svg.egraph g.hyperedge--nucleus.nullary > text {
    fill: #870;
}

svg.egraph g.hyperedge--nucleus.nullary > ellipse,
svg.egraph g.hyperedge--target.nullary > path {
    stroke: gold;
}
svg.egraph g.hyperedge--target.nullary > polygon {
    fill: gold;  /* the arrowhead */
}

/* color overlay */
svg.egraph g.hypernode--colored > polygon {
    fill: #f001;
}

svg.egraph circle.egraph--color-overlay--epicenter {
    fill: #faae;
}

svg.egraph path.egraph--color-overlay--ray {
    stroke: #f99a;
}