
svg.egraph g.node:hover > ellipse,
svg.egraph g.node:hover > polygon {
    fill: #eee;
}
svg.egraph g.node > text {
    cursor: default;
}

svg.egraph g.hyperedge--nucleus.nullary > text {
    fill: #870;
}

svg.egraph g.hyperedge--nucleus.nullary > ellipse,
svg.egraph g.hyperedge--target.nullary > path {
    stroke: gold;
}
svg.egraph g.hyperedge--target.nullary > polygon {
    fill: gold;  /* the arrowhead */
}