<meta charset="utf-8">

<script src="node_modules/nwjs-kremlin/reload.js"></script>
<script>Reload.ignore(/prog.json/)</script>

<%= jquery />
<%= codemirror />
<%= Split.js />

<script src="../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.js"></script>
<script src="../../node_modules/jquery-contextmenu/dist/jquery.ui.position.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css">

<link rel="stylesheet" type="text/css" href="transcal.css">

<script src="lang/tree.ls.js"></script>
<script src="pretty.ls.js"></script>
<script src="lang/run-transcal.ls.js"></script>
<script src="transcal.ls.js"></script> 


<button id="toggle-menu"></button>
<menu type="context" id="menu">
  <command label="Reload"        id="reload">
  <command label="Helper lines"  id="helper-lines">
</menu>

<div id="debug-data">
</div>

<script src="markup.ls.js"></script>

<div id="workspace">
  <div class="pane" id="editor">
  </div>
  <div class="pane" id="workbench">
    <div id="top" class="container"></div>
    <div id="script"></div>
  </div>
</div>

<!--
  <p>nodup =</p>
  <dd>
    <p>[] ↦ ⊤</p>
    <p><span><i>x</i> : <i>xs</i> ↦&nbsp;</span><mu class="below" id="0"></mu><mu class="above" id="15"></mu><span>¬</span><mu class="below" id="1"></mu><mu class="above" id="12"></mu><span>elem <i>x</i>&nbsp;</span><mu id="2"></mu><span><i>xs</i></span><mu id="3"></mu><span>&nbsp;∧&nbsp;</span><mu class="below" id="8"></mu><span>nodup <i>xs</i></span><mu id="9"></mu></p>
  </dd>

<mu-brace from="2" to="3" class="smaller align-right"><i>x'</i> : <i>xs'</i></mu-brace>
<mu-brace from="1" to="3" class="align-right"><i>x</i> = <i>x'</i> ∨ elem <i>x</i> <i>xs'</i></mu-brace>
<mu-brace from="0" to="3" class="align-right"><p><mu id="4"></mu><span><i>x</i> ≠ <i>x'</i></span><mu id="5"></mu>&nbsp;∧&nbsp;<mu id="6"></mu><span>¬elem <i>x</i> <i>xs'</i></span><mu id="7"></mu></p></mu-brace>
<mu-brace from="4" to="5" shift-x="-10"><span><i>x'</i> ∉ {<i>x</i>}</span></mu-brace>
<mu-brace from="6" to="7"><span><i>x</i> ∉ elems <i>xs'</i></mu-brace>
<mu-brace from="8" to="9"><p><mu id="10"></mu><span>¬elem <i>x'</i> <i>xs'</i></span><mu id="11"></mu><span>&nbsp;∧&nbsp;nodup <i>xs'</i></span></p></mu-brace>
<mu-brace from="10" to="11"><i>x'</i> ∉ elems <i>xs'</i></mu-brace>
<mu-brace from="6" to="11">{<i>x</i>} ∪ {<i>x'</i>} ‖ elems <i>xs'</i></mu-brace>
<mu-brace from="12" to="3" class="above"><p><mu class="above" id="13"></mu><span><i>x</i> ∉ elems <i>xs</i></span><mu class="above" id="14"></mu></p></mu-brace>
<mu-brace from="13" to="14" class="above"><p><span>{<i>x</i>} ‖ elems <i>xs'</i></span></p></mu-brace>
<mu-brace from="15" to="9" class="above align-right">nodup' {<i>x</i>} <i>xs</i></mu-brace>
-->
