/* Split pane display */

body {
  margin: 0;
  padding: 0;
}
#workspace {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.pane {
  overflow: scroll;
}
#editor.pane {
  min-width: 20%;
  max-width: 50%;
  flex-grow: 1;
}
#editor.pane .CodeMirror {
  height: 100%;
}
#editor.pane .CodeMirror .CodeMirror-widget {
  line-height: 12px;  /* because some characters are too tall (due to alternative font glyph rendering) */
}
#workbench.pane {
  padding: 5px;
  flex-grow: 1;
  border-left: 1px solid black;
}



button#toggle-menu {
  position: absolute;
  top: 9px;
  right: 9px;
}

#workbench {
  /*font-family: CMU Serif;*/
  font-size: 13pt;
}
table { font-size: inherit; }  /* Webkit default is to override font */

p, p span { display: flex; align-items: baseline; white-space: pre }

mu { position: relative; }
mu.above { align-self: flex-start; }
mu.below { align-self: flex-end; }

mu table {
  display: block;
  position: absolute;
  /*outline: 1px solid rgba(0,0,0,.1);*/
  border-spacing: 0;
}

mu tr {
}

mu table >*>*> td.spacer {
  border-left: 1px dashed rgba(0,0,0,.15);
  border-right: 1px dashed rgba(0,0,0,.15);
}

mu table >*>*> td.brace {
  width: 1000px;  /* @@@ only way to make td occupy table width?? */
  border-bottom: 1px solid #C78578;
  border-radius: 0 0 50px 50px;
  height: 7px;
}

mu table td.caption {
  position: absolute;
  white-space: nowrap;
  padding: 0;
}

mu table td.caption p { margin: 0 }

mu table.smaller td.brace {
  height: 4px;
}

mu table.smaller td.caption {
  font-size: 75%;
}

mu table.align-right >*>*> td.caption {
  right: 0;
}

mu table.above {
  bottom: 0;
}

mu table.above >*>*> td.brace {
  border-top: 1px solid #C78578;
  border-bottom: none;
  border-radius: 50px 50px 0 0;
}

mu table.above >*>*> td.caption {
  bottom: 7px;  /* height of brace cell */
                /* if spacer is added, this value is overwritten by typesetter */
}

/* special notations */
.slash {
  position: relative; top: +.1em;
  font-size: larger;
}

/* for debugging */
#workbench.helper-lines p,
#workbench.helper-lines mu table td.caption {
  outline: 1px solid rgba(0,0,0,.1);
}

#debug-data {
  position: absolute;
  bottom: 9px;
  right: 9px;
  font-size: 12px;
}

/* Selection */
.selection {
  background: rgba(0,80,255,0.25);
}

.hover {
  outline: 1px dashed blue;
}

.drag-hover {
  outline: 1px dashed orange;
}
